:root {
    --color-background: #3881d5;
  
    --color-text: #ffffff;
    --color-text-muted: #7B7B7B;
    --color-accent: #F2AE42;
    --color-accent-dark: #d49631;
  
    --color-window-background: #273238;
    --color-window-separator: #7070703b;

    --color-danger: #DC4545;
    --color-danger-dark: #c33737;
    --color-success: #48D25F;
    --color-success-dark: #3bad4e;
}

[data-theme="light"] {
    --color-background: #3881d5;
  
    --color-text: #000000;
    --color-text-muted: #7B7B7B;
    --color-accent: #ff9d00;
  
    --color-window-background: #f5f5f5;
}
